<% content_for(:title, "Users Index") %>

<div class="container wrapper">

<div class="pull-right">
    <%= link_to '+ Create a New User', new_user_path, class: "btn btn-primary btn-md" %> 
  </div> <!-- pull-right -->
       
  <h1>Users Index</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
        <th colspan="2">Manage</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= link_to ' ', edit_user_path(user), class: "fa fa-pencil" %></td>
          <td><%= link_to ' ', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash-o" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- container wrapper -->
