<% content_for(:title, @user.name) %>

<div class="container wrapper">
       
  <p id="notice"><%= notice %></p>

  <div class="pull-right">
    <%= link_to ' Edit', edit_user_path(@user), class: "btn btn-primary btn-sm fa fa-pencil" %> 
    <%= link_to ' Back to List', root_path, class: "btn btn-primary btn-sm fa fa-arrow-left" %>  
  </div> <!-- pull-right -->
    

  <h1><%= @user.name %>'s Profile</h1>

  <p><strong>Name:</strong> <%= @user.name %></p>

  <p><strong>Username:</strong> <%= @user.username %></p>

  <p><strong>Email:</strong> <%= @user.email %></p>

  <p><strong>Admin Access:</strong> <%= @user.admin %></p>

</div> <!-- container wrapper -->

