<% content_for(:title, "Reactions Index") %>

<div class="container wrapper">
  <p id="notice"><%= notice %></p>

  <div class="pull-right">
    <%= link_to '+ New Reaction', new_reaction_path, class: "btn btn-primary btn-md" %> 
  </div> <!-- pull-right -->

  <h1>Reactions Index</h1>

  <% @reactions.each do |reaction| %>
    <div class="row">  
    <article class="<%= publish_status_style(reaction) %>">

        <div class="row">
          <div class="col-sm-3">          
            <h3><%= link_to reaction.name, reaction %> <span class="unpublished"><%= display_unpublished_indicator(reaction) %>
            </span></h3>
            <p><%= link_to ' Edit', edit_reaction_path(reaction), class: "btn btn-sm fa fa-pencil" %>  
            <%= link_to ' Delete', reaction, method: :delete, data: { confirm: "Whoa there! Are you sure you want to delete this reaction? Once it is gone, it's gone and this can't be undone. If you'd like to Unpublish it instead, click Cancel, then set the Publish Status to Unpublished." }, class: "btn btn-sm fa fa-trash-o" %></p>
          </div> <!-- col-sm-3 -->

          <div class="col-sm-9">
            <p><%= reaction.explanation %></p>
          </div> <!-- col-sm-9 -->
        </div> <!-- row -->

      </article><!-- listing -->
    </div> <!-- row -->

  <% end %><!-- each do -->
</div><!-- container wrapper -->




