<p id="notice"><%= notice %></p>

<h1>Reactions Index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reactions.each do |reaction| %>
      <tr>
        <td><%= link_to reaction.name, reaction %></td>
        <td><%= reaction.explanation %></td>
        <td><%= link_to 'Show', reaction %></td>
        <td><%= link_to 'Edit', edit_reaction_path(reaction) %></td>
        <td><%= link_to 'Delete', reaction, method: :delete, data: { confirm: "Whoa there! Are you sure you want to delete this reaction? Once it is gone, it's gone and this can't be undone. If you'd like to Unpublish it instead, click Cancel, then set the Publish Status to Unpublished." } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reaction', new_reaction_path %>
