<% content_for(:title, @reaction.name) %>
<div class="container wrapper">
       
  <p id="notice"><%= notice %></p>

  <div class="pull-right">
    <%= link_to ' Edit', edit_reaction_path(@reaction), class: "btn btn-primary btn-sm fa fa-pencil" %> 
    <%= link_to ' Back', reactions_path, class: "btn btn-primary btn-sm fa fa-ban" %>
  </div> <!-- pull-right -->

  <h1>Reaction: <%= @reaction.name %></h1>

  <p>
    <strong>Name:</strong>
    <%= @reaction.name %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= @reaction.explanation %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @reaction.publish_status %>
  </p>

</div> <!-- container wrapper -->

