<% content_for(:title, "Previewing: #{@reaction.name}") %>

<div class="container">
  
    <div class="show-nav"> 
    <div class="row">
      <div class="pull-right">
        <%= link_to ' Edit', edit_reaction_path(@reaction), class: "btn btn-primary btn-sm fa fa-pencil" %> 
        <%= link_to ' Back to List', reactions_path, class: "btn btn-primary btn-sm fa fa-arrow-left" %>
      </div> <!-- pull-right -->
      <div class="pull-left">
        <%= render "show_publish_status" %>
      </div> <!-- pull-left -->
    </div><!-- /.row -->
    </div> <!-- show-nav -->

  <div class="content show-preview">
    <div class="row">
      <h2>Your Better Reaction:</h2>
      <h1 class="reaction"><%= @reaction.name %></h1>
      <p><%= @reaction.explanation %></p>
    </div><!-- /.row -->
  </div><!-- content -->
</div><!-- container -->

